force-app/main/default/flows/Player_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Transfer_Approved</name>
        <label>Transfer Approved</label>
        <locationX>574</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Club_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transfer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Club Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Club_Transfer_Action</targetReference>
            </connector>
            <label>Club Transfer</label>
        </rules>
        <rules>
            <name>Player_Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transfer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Player Release</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Player_Release_Action</targetReference>
            </connector>
            <label>Player Release</label>
        </rules>
        <rules>
            <name>Free_Agent_Signing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Agent Signing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transfer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Free_Agent_Signing_Action</targetReference>
            </connector>
            <label>Free Agent Signing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Player Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Player Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Club_Transfer_Action</name>
        <label>Club Transfer Action</label>
        <locationX>390</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Transfer_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Club__c</field>
            <value>
                <elementReference>$Record.New_Club__c</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Free_Agent_Signing_Action</name>
        <label>Free Agent Signing Action</label>
        <locationX>586</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Transfer_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Club__c</field>
            <value>
                <elementReference>$Record.New_Club__c</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Player_Release_Action</name>
        <label>Player Release Action</label>
        <locationX>797</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Transfer_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Player__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Club__c</field>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Transfer_Completion</name>
        <label>Transfer Completion</label>
        <locationX>584</locationX>
        <locationY>853</locationY>
        <inputAssignments>
            <field>Transfer_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Transfer_Approved</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Transfer_Status__c}, &quot;Approved&quot;)</filterFormula>
        <object>Transfer__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
